<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- <link rel="stylesheet" type='text/css' href="./public/stylesheets/index.css"> -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Hashtag Planners Register for K2K The Phoenix Spirit</title>
    <style>
        body {
            background-color: #000
        }

        .padding {
            padding: 2rem !important
        }

        .card {
            margin-bottom: 30px;
            border: none;
            -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
            -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
            box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22)
        }

        .card-header {
            background-color: #fff;
            border-bottom: 1px solid #e6e6f2
        }

        h3 {
            font-size: 20px
        }

        h5 {
            font-size: 15px;
            line-height: 26px;
            color: #3d405c;
            margin: 0px 0px 15px 0px;
            font-family: 'Circular Std Medium'
        }

        .text-dark {
            color: #3d405c !important
        }

        .logo1 img {
            width: 20%;
            height: 20%;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar')%>
        <div class="offset-xl-2  col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12  padding" style="margin-top: 5%;">
            <div class="card">

                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-9">
                            <div class="logo1">
                                <img src="./assets/logo1.png" alt="thise is di">
                                <p>GSTIN NO : 6876862876824</p>
                            </div>
                        </div>
                        <div class="col-sm-3   ">
                            <img src="./assets/logo1.png" alt="logo2" class="img-fluid"
                                style="width: 50%; height: 50%;">

                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">Order id</th>
                                    <th>Bank Transaction Id</th>
                                    <th>Item desc</th>
                                    <th class="right">Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center">68787</td>
                                    <td class="left strong">7886</td>
                                    <td class="left">hashtagplanner registration amount K2k phenox spirit </td>
                                    <td class="right"> ₹1000</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">
                        </div>
                        <div class="col-lg-4 col-sm-5 ml-auto">
                            <table class="table table-clear">
                                <tbody>
                                    <tr>
                                        <td class="left">
                                            <strong class="text-dark">Total</strong>
                                        </td>
                                        <td class="right">₹1000</td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong class="text-dark">Tax (18%)</strong>
                                        </td>
                                        <td class="right">₹80</td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong class="text-dark">Total Amount</strong>
                                        </td>
                                        <td class="right">
                                            <strong class="text-dark">₹1080</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <%- include('partials/footer')%>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
            <script>
                $(document).ready(function () {
                    $(this).scrollTop(0);
                });
            </script>
</body>

</html>